Source: saa716x-dkms
Section: media
Priority: optional
Maintainer: Marcel Jueling <Marcel.Jueling@gmx.de>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3
Homepage: https://www.jueling.de

Package: saa716x-dkms
Architecture: all
Depends: ${misc:Depends}, dkms, firmware-saa716x, unzip, wget
Conflicts: tts2-6400
Description: Modules source for the TechnoTrend Premium DVB S2-6400
 This package includes the modules source for the TechnoTrend Premium DVB S2-6400
